body {
    font-family:helvetica;
    color:#c4c4c4;
    background-color:#1400ab;
}
h1, h3 {
    text-align:center;
    
}
.btn {
    height:150px;
    width:150px;
    background-color:red;
    color:white;
    font-size:20px;
    font-family:'Brush Script MT', cursive;
    cursor:pointer;
    outline:none;
}
.btn2 {
    height:50px;
    width:50px;
    background-color:#1eff00;
    color:white;
    font-size:20px;
    font-family:'Brush Script MT', cursive;
    cursor:pointer;
    outline:none;
}
.button {
    display:flex;
    justify-content:center;
}
.btn:hover, 
.btn:active {
    background-color:#cc0000;
}
.btn2:hover, 
.btn2:active {
    background-color:#18cc00;
}
.name {
    text-align:center;
    line-height:0px;
    display:content;
    justify-content:center;
}
#mName {
    outline:none;
}
